<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%=params[:id]%></p>
  <div class="field">
    <%= form.label :title, "自分の病名",class: "form-label"%>
    <%= form.text_field :title, class: "form-field" %>
  </div>

  <div class="field">
    <%= form.label :image, "画像",class: "form-label" %>
    <%= form.text_field :image, class: "form-field"%>
  </div>

  <%= form.fields_for :q_and_a do |q_and_a|%>
    <%= q_and_a.collection_select(:question_id, Question.all, :id, :content) %>
    <%= q_and_a.text_field :answer %>

  <%end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
