<p id="notice"><%= notice %></p>

<section class="article">
  <div class="page-title-container">
      <h3 class="page-title">作品一覧</h3>
      <a id="edit-btn" href="input.html">作品を投稿</a>
  </div>
  <div class="article-container">
    <% @profiles.each do |profile| %>
      <div class="card">
        <div class="card--top-image" style="background-image: url(<%= profile.image%>)";>
            <%= image_tag("gaku.png",class: "gaku") %>
        </div>
        <div class="card--content">
            <h3 class="card--content-title"><%=profile.title%></h3>
            <%@name = User.find_by(id: profile.user_id).name%>
            <p class="card--content-author"><%=@name%></p>
        </div>
        <a class="card--link" href="details.html"></a>
      </div>
    <% end %>
  </div>
</section>
