<%if @error%>
    <p><%=@error%></p>
<%end%>
<%= form_tag("/sign_up", method: "post") do %>
    <%= label_tag(:email, "email") %>
    <%= email_field :credential, :email %>
    <%= label_tag(:name, "name") %>
    <%= text_field :credential, :name %>
    <%= label_tag :password, "password" %>
    <%= password_field :credential, :password%>
    <%= submit_tag("新規登録") %>
<% end %>