<div class="login-page">
    <%if @error%>
        <p class="error-message">
            <%=@error%>
            <span class="close">×</span>
        </p>  
    <%end%>
    <%if @notice%>
        <p class="success-message">
            <%=@notice%>
            <span class="close">×</span>
        </p>  
    <%end%>
    <div class="login-form-container ">
        <div class="exp-container"></div>
        <div class="login-form">
            <%= form_tag("/sign_in", method: "post", class: "form") do %>
                <%= email_field :credential, :email, placeholder: "E-mail", class: "login-input-field" %>
                <%= password_field :credential, :password, placeholder: "PassWord", class: "login-input-field"%>
                <%= submit_tag "ログイン", class: "login-submit-btn" %>
                <%= link_to("新規登録はこちらから >","/sign_up",class: "go-signup")%>
            <% end %>
        </div>
    </div>
</div>