<!DOCTYPE html>
<html>
  <head>
    <title>PersonalHistoryMuseum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header class="header"> 
    <div class="header--container">
        <%= image_tag('title.png',class: "logo") %>
        <ul class="gnav">
            <%if (session[:id])%>
              <li class="gnav--item">
                <p class="gnav--item--link"><%= User.find_by(id: session[:id]).name%>さん</p>
              </li>
            <%end%>
            <li class="gnav--item">
              <%= link_to('展示一覧をみる','/profiles',class: "gnav--item--link")%>
            </li>
            <%if (session[:id].nil?)%>
              <li class="gnav--item">
                  <%= link_to('ログイン','/sign_in',class: "gnav--item--link")%>
              </li>
            <%else%>
              <li class="gnav--item">
                  <%= link_to('ログアウト','/sign_out',class: "gnav--item--link",method: :delete)%>
              </li>
            <%end%>
        </ul>
    </div>      
  </header>
    <%= yield %>
  </body>
</html>
